/* colors */
:root{
    --primary: #a6b6a7;
    --secondary: #83b185;
    --thursty: #ff4444;
    --title: #4CAF50;
  }
  
  /* layout styles */
  nav{
    background: var(--primary);
    margin-bottom: 1em;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav a{
    color: var(--title);
  }
  nav a span{
    font-weight: bold;
  }
  nav .sidenav-trigger{
    margin: 0;
  }
  
  /* plant styles */
  .plants{
    margin-top: 20px;
  }
  .card-panel.plant{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;
  }
  .plant img{
    grid-area: image;
    max-width: 60px;
  }
  .plant-details{
    grid-area: details;
    margin-top: 6px;
  }
  .plant-delete{
    grid-area: delete;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .plant-delete i{
    font-size: 18px;
  }
  .plant-title{
    font-weight: bold;
  }
  .plant-ingredients{
    font-size: 0.8em;
  }
  
  /* form-styles */
  .add-btn{
    background: var(--title) !important;
    margin-bottom: 0.5em;
  }
  input{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  .side-form button{
    background: var(--title);
    box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
  }
  form .input-field{
    margin-top: 30px;
  }

  .toBeWater{
    background-color: var(--thursty) !important;
    margin-top: 20px;
    color: white;
  }