.app-container {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0; /* Couleur de fond de l'application */
    height: 100vh; /* Hauteur de l'application */
  }
  
  .sidebar-left,
  .sidebar-right {
    width: 10vw; /* Largeur des barres latérales */
    background-color: rgb(86, 146, 86); /* Couleur des barres latérales */
  }
  