.plante-list {
    width: 80%;
    margin: auto;
  }
  
  .plante-items {
    list-style: none;
    padding: 0;
  }
  
  .plante-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .plante-info {
    flex-grow: 1;
  }
  
  .plante-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .plante-actions button {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .add-button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button,
  .delete-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .close:hover {
    color: black;
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal input,
  .modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #45a049;
  }
  
  