.plante-list {
    margin: auto;
  }
  
  .plante-items {
    list-style: none;
    padding: 0;
  }
  
  .plante-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .plante-info {
    flex-grow: 1;
  }
  
  .plante-name {
    display: block;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .plante-type {
    font-style: italic;
    font-size: small;
    margin-right: 10px;
  }
  
  .plante-actions button {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .add-button {
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button,
  .delete-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .close:hover {
    color: black;
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal input,
  .modal textarea {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #45a049;
  }
  
  /* planteList.css */
.plante-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.add-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.plante-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.plante-card {
  position: relative; /* Ajout de la position relative */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.plante-actions {
  position: absolute; /* Ajout de la position absolue */
  top: 10px; /* Alignement en haut */
  right: 10px; /* Alignement à droite */
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

.edit-button {
  color: #007bff;
}

.delete-button {
  color: #dc3545;
}

.plante-image {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  object-fit: cover;
}

  